
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Hi, anggraeni.atmaja@astellas.com
    <br>
    <p>You've got a Purchase Order No 53 from ade.restu@astellas.com to be reviewed and approved by you </p>
     <p>You can access this Purchase Order through following URL: <a href="http://54.169.230.195:3000/purchase_orders/53/edit">53</a>. </p>


    <br>
   
    <p>Thanks and have a great day!</p>
    <br>
    <br>

    <p>=================================================================================</p>
    <p>Notes : This is automatic email sent by PT Astellas Pharma Indonesia Purchase System. No reply is required</p>


  </body>
</html>
  </body>
</html>




