<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Hi, <%= @email %>
    <br>
    <p>
      You've got a Payment Request No 25 from Hussein Mashhour  to be reviewed and approved by you
    </p>
    <p>You can access this Payment Request through following URL: <a href='http://54.169.230.195:3000/viprs/25/edit'>25</a> . </p>
    <br>
  
    <p>Thanks and have a great day!</p>
    <br>
    <br>
    

    <p>=================================================================================</p>
    <p>Notes : This is automatic email sent by Astellas Purchase System. No reply is required</p>


  </body>
</html>
