
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Hi, asri.shadeeq@astellas.com
    <br>
     <p>
      You've got a VIPR/Payment Request No 15 from Wenny Arista  to be reviewed and approved by you
    </p>
     <p>You can access this Payment Request through following URL: <a href="http://54.169.230.195:3000/viprs/15/edit">15</a>. </p>


    <br>
   
    <p>Thanks and have a great day!</p>
    <br>
    <br>

    <p>=================================================================================</p>
    <p>Notes : This is automatic email sent by PT Astellas Pharma Indonesia Purchase System. No reply is required</p>


  </body>
</html>
  </body>
</html>


