<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @purchase_request.req_email %></h1>
    <p>
      <br>
      You just created a new following purchase request no : <%= link_to @no, @url %> .
    </p>
    <br>
    <p>Please check this Purchase Request before submitting for review and approval to your superior</p>
    <br>
    <br>
    <p>Thanks and have a great day!</p>
    <br>
    <br>


    <p>Regards, </p>
    <br>
    <p>Astellas Purchase Apps </p>
    <br>
    <br>
    <p>=================================================================================</p>
    <br>
    <p>Notes : This is automatic email sent by PT Astellas Pharma Indonesia Purchase System. No reply is required</p>


  </body>
</html>