<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @vipr.prepared_by %></h1>
    <p>
      You just created a new following purchase order no : <%= link_to @no, @url %> .
    </p>
    <p>Please check this VIPR before submitting for approval</p>
    <p>Thanks and have a great day!</p>


    <p>Regards, </p>
    <br>
    <p>Astellas Purchase Apps </p>


    

    <p>=================================================================================</p>
    <p>Notes : This is automatic email sent by PT Astellas Pharma Indonesia Purchase System. No reply is required</p>


  </body>
</html>