<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Hi, <%= @vipr.req_email %>
    <br>
    <p>We're very sorry to inform you that Payment Request No <%= @no %> is rejected by your superior ! </p>
    <p>You can access this payment request through following URL: <%= link_to @no, @url %>. </p>
    </p>
    <br>
   
    <p>Thanks and have a great day!</p>
    <br>
    

    <p>=================================================================================</p>
    <p>Notes : This is automatic email sent by PT Astellas Pharma Indonesia E-Buy System. No reply is required</p>


  </body>
</html>
