<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome, <%= @user.name %> (<%= @user.email %>) </h1>
    <p><br>
      Someone already invited you to join Astellas E-Buy System <%= @url %>.
    </p>
    <br>
    <p>You can access to app under following URL: <%= @url %> </p>
    <br>
    <p>Thanks for joining us and have a great day!</p>
    <br>
    <br>
    <p>Regards, </p>
    <br>
    <p>Astellas E-Buy System </p>
    <br>
    <br>
    <p>=================================================================================</p>
    <br>
    <p>Notes : This is automatic email sent by PT Astellas Pharma Indonesia E-Buy System. No reply is required</p>
  </body>
</html>
