
<% content_for(:html_title) { 'Cost Center - Edit' } %>

<div class="card card-default">

	<%= render 'form', costcenter: @costcenter %>

	<br>
	<%= link_to 'Show', @costcenter, :class => 'btn btn-complete btn-cons' %> 
	<%= link_to 'Back', costcenters_path, :class => 'btn btn-complete btn-cons' %>

</div>
<br>
