<% content_for(:html_title) { 'Purchase Order - New' } %>
<div class="card card-default">

	<%= render 'form', po_approval: @po_approval %>

	<br>
	<%= link_to 'Back', po_approvals_path, :class => 'btn btn-complete btn-cons' %>

</div>
<br>
