
<% content_for(:html_title) { 'Expense - Edit' } %>

<div class="card card-default">

	<%= render 'form', expense: @expense %>

	<br>
	<%= link_to 'Show', @expense, :class => 'btn btn-complete btn-cons' %> 
	<%= link_to 'Back', expenses_path, :class => 'btn btn-complete btn-cons' %>

</div>
<br>
