
<% content_for(:html_title) { 'Supplier - Edit' } %>

<div class="card card-default">

	<%= render 'form', supplier: @supplier %>

	<br>
	<%= link_to 'Show', @supplier, :class => 'btn btn-complete btn-cons' %> 

</div>
<br>