<% content_for(:html_title) { 'Purchase Request - New' } %>
<div class="card card-default">

	<%= render 'form', pr_approval: @pr_approval %>

	<br>
	<%= link_to 'Back', pr_approvals_path, :class => 'btn btn-complete btn-cons' %>

</div>
<br>
